<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BUILDKITE_ANALYTICS_TOKEN</key>
	<string>$BUILDKITE_ANALYTICS_TOKEN</string>
	<key>CIRCLE_BUILD_NUM</key>
	<string>$CIRCLE_BUILD_NUM</string>
	<key>CIRCLE_WORKFLOW_ID</key>
	<string>$CIRCLE_WORKFLOW_ID</string>
	<key>CIRCLE_BUILD_URL</key>
	<string>$CIRCLE_BUILD_URL</string>
	<key>CIRCLE_BRANCH</key>
	<string>$CIRCLE_BRANCH</string>
	<key>CIRCLE_SHA1</key>
	<string>$CIRCLE_SHA1</string>
</dict>
</plist>
